.skills_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.skills_container >div{
    background:var(--color-bg-varient);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    margin-top: 2rem;
}
.skills_container >div:hover{
    background: transparent;
    border-color: var(--color-bg-varient);
    cursor: default;
}
.skills_container >div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}
.experience_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
/*tablets*/
@media screen and (max-width: 800px){
    .skills_container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .skills_container >div{
        background:var(--color-bg-varient);
        padding: 1% 1%;
        border-radius: 2rem;
        border: 1px solid transparent;
        transition: var(--transition);
        margin-top: 2rem;
    }
    .experience_content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-area: auto;
        grid-gap: 1%;
    }

}
@media screen and (max-width: 500px){
    .skills_container{
        grid-template-columns: 1fr;
        margin: 0 auto;
    }
    .skills_container >div{
        background:var(--color-bg-varient);
        padding: 2rem 1%;
        border-radius: 2rem;
        border: 1px solid transparent;
        transition: var(--transition);
        margin-top: 2rem;
    }
}